html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    /*background-color: rgb(29, 29, 29);*/
    background-color: rgb(1 18 41);
    color: white;
    overflow-x: hidden;
}
li {
    list-style-type: none;
    display: inline;
}
header ul {
    display: inline-block;
    margin-left: 0.5%;
    font-size: 2.5rem;
}
header a:not(:last-child) { 
    margin-right: 30px;  
}
header {
    margin-top: 2.3%;
}
header h3 {
    display: inline;
    margin-right: 30%;
    margin-left: 4.25%;
    color: #AA2355;
}
ul {
    padding-inline-start: 0px;
    display: inline;
}
.active {
    font-weight: 700;
    color: #AA2355;
}
button {
    padding: 10px 25px;
    margin-top: 2%;
    background-color: #AA2355;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    display: block;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #921845;
}
