
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}
  /* mouse over link */
a:hover {
    color: #921845;
}
header .container {
    display: none;
    width: 60px;
    float: right;
}
.social img {
    transition: transform .2s;
}
.social img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.social img {
    height: 70px;
    width: 70px;
}
.main {
    margin-top:16%;
    margin-left:4.3%;
    width:60%;
}
.container img {
    margin-left: 5%;
    margin-bottom: 5%;
    transition: transform .2s;
}
.container img:hover {
    transform: scale(1.5);
}
.row {
    display: flex;
    margin-bottom: 10%;
    width: 100%;
}
.column {
    float: left;
    width: 33.33%;
    flex: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row .column img {
    transition: transform .3s;
}
.row .column img:hover {
    transform: scale(1.4);
}
@media screen and (max-width: 1000px) {
    .main {
        margin-left: 20%;
    }
    footer .social img {
        height: 100px;
        width: 100px;
    }
    footer p {
        font-size: 2rem;
    }
}
